<div class="hamburger-content">
    <ul class="section-list">
        <li class="section-item" {{action "scrollTo" "hero"}}>The Cat</li>
        <li class="section-item" {{action "scrollTo" "description"}}>Description</li>
        <li class="section-item" {{action "scrollTo" "subscribe"}}>Subscription</li>
        <li class="section-item" {{action "scrollTo" "superheroes"}}>Superheroes</li>
        <li class="section-item" {{action "scrollTo" "social"}}>Social</li>
    </ul>
</div>
<div class="hamburger-arrow" {{action "toggleHamburger"}}>

        <i {{bindAttr class="collapsed:icon-arrow-right:icon-arrow-left"}}></i>
</div>
<div class="nav-arrow" {{action "scrollDown"}}>
    <i class="icon-arrow-down"></i>
</div>
