<div class="navigation">
    <ul class="navigation-list">
        <li class="section-item" {{action "scrollTo" "hero"}}>The Cat</li>
        <li class="section-item" {{action "scrollTo" "description"}}>Description</li>
        <li class="section-item" {{action "scrollTo" "topics"}}>Topics</li>
        <li class="section-item" {{action "scrollTo" "subscribe"}}>Subscription</li>
        <li class="section-item" {{action "scrollTo" "superheroes"}}>Superheroes</li>
        <li class="section-item" {{action "scrollTo" "social"}}>Social</li>
        <li class="section-item" {{action "scrollTo" "map"}}>Map</li>
    </ul>
</div>

<a href="#" {{bindAttr class=":navigation-arrow collapsed:icon-arrow-right:icon-arrow-left"}} {{action "toggleNavigation"}}></a>
<a href="#" class="navigation-scroll icon-arrow-down" {{action "scrollDown"}}></a>